@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 214, 219, 220;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #C2410C;
    --background-rgb: #08090A;
  }
}

body {
  color: #FFB20F;
  background-color: #08090A;
}

.header{
  width: 100%;
  position: fixed;
  left: 0px;
  transition: all 1s ease;
  z-index: 10;
}