@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 214, 219, 220;
  --a1: 235	68	90;
  --a2: 49	124	246;
  --a3: 119	213	115;
  --a4: 241	154	56;
  --a5: 87	90	206;
  --a6: 119	198	246;
  --a7: 247	204	70;
  --a8: 235	76	61;

}

.text-a1{
  color: rgb(var(--a1));
}
.back-a1{
  background-color: rgb(var(--a1));
}
.border-a1{
  border-width: 1px;
  border-color: rgb(var(--a1));
}

.text-a2{
  color: rgb(var(--a2));
}
.back-a2{
  background-color: rgb(var(--a2));
}
.border-a2{
  border-width: 1px;
  border-color: rgb(var(--a2));
}

.text-a3{
  color: rgb(var(--a3));
}
.back-a3{
  background-color: rgb(var(--a3));
}
.border-a3{
  border-width: 1px;
  border-color: rgb(var(--a3));
}

.text-a4{
  color: rgb(var(--a4));
}
.back-a4{
  background-color: rgb(var(--a4));
}
.border-a4{
  border-width: 1px;
  border-color: rgb(var(--a4));
}

.text-a5{
  color: rgb(var(--a5));
}
.back-a5{
  background-color: rgb(var(--a5));
}
.border-a5{
  border-width: 1px;
  border-color: rgb(var(--a5));
}

.text-a6{
  color: rgb(var(--a6));
}
.back-a6{
  background-color: rgb(var(--a6));
}
.border-a6{
  border-width: 1px;
  border-color: rgb(var(--a6));
}

.text-a7{
  color: rgb(var(--a7));
}
.back-a7{
  background-color: rgb(var(--a7));
}
.border-a7{
  border-width: 1px;
  border-color: rgb(var(--a7));
}

.text-a8{
  color: rgb(var(--a8));
}
.back-a8{
  background-color: rgb(var(--a8));
}
.border-a8{
  border-width: 1px;
  border-color: rgb(var(--a8));
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #C2410C;
    --background-rgb: #08090A;
  }
}

body {
  color: #FFFFFF;
  background-color: #08090A;
}
img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header{
  width: 100%;
  position: fixed;
  left: 0px;
  transition: all 1s ease;
  z-index: 20;
}

.info{
  position: fixed;
  z-index: 10;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
}

.fadeIn{
  animation-name: appear;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

.fadeOut{
  animation-name: disappear;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

@keyframes appear{
  0%{
    display: block !important;
    opacity: 0;
  }
  10%{
    opacity: .1;
  }
  20%{
    opacity: .2;
  }
  30%{
    opacity: .3;
  }
  40%{
    opacity: .4;
  }
  50%{
    opacity: .5;
  }
  60%{
    opacity: .6;
  }
  70%{
    opacity: .7;
  }
  80%{
    opacity: .8;
  }
  90%{
    opacity: .9;
  }
  100%{
    opacity: 1;
  }
}

@keyframes disappear{
  0%{
    opacity: 1;
  }
  10%{
    opacity: .9;
  }
  20%{
    opacity: .8;
  }
  30%{
    opacity: .7;
  }
  40%{
    opacity: .6;
  }
  50%{
    opacity: .5;
  }
  60%{
    opacity: .4;
  }
  70%{
    opacity: .3;
  }
  80%{
    opacity: .2;
  }
  90%{
    opacity: .1;
  }
  100%{
    opacity: 0;
    display: none;
  }
}

.headerBack{
  position: fixed;
  z-index: 30;
  left: 0px;
  right: 0px;
  transition: background-color 1s ease-in-out;
}
.headerBackActive{
  background-color: black;
}

.fade-in {
  animation: fade-in 3s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 80;
  }
}

.playgroundItem{
  box-shadow: 0px 0px 5px 3px rgba(226,226,226,0.75);
  -webkit-box-shadow: 0px 0px 5px 3px rgba(226,226,226,0.75);
  -moz-box-shadow: 0px 0px 5px 3px rgba(226,226,226,0.75);
  opacity: 0;

    animation: fade-in 1s;
    animation-delay: 500ms;
    animation-fill-mode: forwards;
}
.playgroundItem:hover{
  z-index: 35;
  opacity: 1;
  box-shadow: 0px 0px 10px 6px rgba(226,226,226,0.75);
  -webkit-box-shadow: 0px 0px 10px 6px rgba(226,226,226,0.75);
  -moz-box-shadow: 0px 0px 10px 6px rgba(226,226,226,0.75);
}

.backdrop{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 40;
}
.modal{
  background-color: white;
  color: black;
  z-index: 45;
  box-shadow: 0px 0px 10px 6px rgba(226,226,226,0.75);
  -webkit-box-shadow: 0px 0px 10px 6px rgba(226,226,226,0.75);
  -moz-box-shadow: 0px 0px 10px 6px rgba(226,226,226,0.75);
}